# Copie este arquivo para terraform.tfvars e preencha os valores.
# O terraform.tfvars real NÃO deve ser commitado (está no .gitignore).

# ARN da LabRole do AWS Academy (IAM → Roles → LabRole → copiar ARN)
lab_role_arn        = "arn:aws:iam::970075114213:role/LabRole"

aws_region          = "us-east-1"
cluster_name        = "oficina-mecanica-eks"
cluster_version     = "1.30"
vpc_cidr            = "10.0.0.0/16"
node_instance_types = ["t3.medium"]
min_nodes           = 2
max_nodes           = 5
desired_nodes       = 2
