# Copie este arquivo para terraform.tfvars e preencha os valores.
# O terraform.tfvars real NÃO deve ser commitado (está no .gitignore).

cluster_name    = "oficina-mecanica"
namespace       = "oficina"
db_name         = "oficina_db"
db_user         = "oficina"
db_password     = "defina-uma-senha-forte-aqui"
db_storage_size = "1Gi"
